# Wallet (MetaMask Private Key)
# Paste your 64-character key here (add 0x if it's missing)
PRIVATE_KEY=your_private_key
# Network (opBNB Testnet)
OPBNB_TESTNET_RPC=https://opbnb-testnet-rpc.bnbchain.org
OPBNB_TESTNET_CHAIN_ID=5611
# Verification (For opBNBScan)
# Get a free key from bscscan.com or nodereal.io
BSCSCAN_API_KEY=your_bscsacan_api_key